<a href="https://colab.research.google.com/github/Roy2712/greyatom-python-for-data-science/blob/master/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
73372,55105,1.104021,-1.123835,1.008939,-0.460960,-1.502758,0.021138,-1.055043,0.095135,-0.175413,...,0.405906,1.054006,-0.174455,0.155852,0.358077,-0.030114,0.048490,0.042121,119.00,0.0
73373,55105,1.182898,-0.283273,1.123494,0.066948,-1.283276,-0.900451,-0.441870,-0.150647,0.784691,...,0.082278,0.491790,-0.025468,1.078368,0.258355,1.415871,-0.060454,0.014606,22.71,0.0
73374,55106,1.168124,-0.122507,1.251822,0.860341,-1.020137,-0.277310,-0.557856,0.023732,0.802378,...,-0.077921,-0.005984,0.014309,0.452036,0.281031,0.313100,0.020995,0.030389,16.35,0.0
73375,55106,-0.339385,-2.095670,0.271543,-3.066469,0.484794,3.870704,-2.069399,0.184347,-1.615958,...,0.964115,-0.266112,-0.993763,1.033766,0.748706,-0.116168,0.153607,0.268881,322.34,0.0
73376,55107,-1.020407,0.160171,0.152264,-0.093406,-0.978017,0.074549,1.610152,0.117407,-0.948643,...,0.109380,-0.400171,0.835422,-0.428141,-0.464220,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73377 entries, 0 to 73376
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    73377 non-null  int64
 1   V1      73377 non-null  float64
 2   V2      73377 non-null  float64
 3   V3      73377 non-null  float64
 4   V4      73377 non-null  float64
 5   V5      73377 non-null  float64
 6   V6      73377 non-null  float64
 7   V7      73377 non-null  float64
 8   V8      73377 non-null  float64
 9   V9      73377 non-null  float64
 10  V10     73377 non-null  float64
 11  V11     73377 non-null  float64
 12  V12     73377 non-null  float64
 13  V13     73377 non-null  float64
 14  V14     73377 non-null  float64
 15  V15     73377 non-null  float64
 16  V16     73377 non-null  float64
 17  V17     73377 non-null  float64
 18  V18     73377 non-null  float64
 19  V19     73377 non-null  float64
 20  V20     73377 non-null  float64
 21  V21     73377 non-null  float64
 22  V22     73377 non-null  float64
 23  V23     73377 non-null  float64
 24  V24     73377 non-null  float64
 25  V25     73377 non-null  float64
 26  V26     73376 non-null  float64
 27  V27     73376 non-null  float64
 28  V28     73376 non-null  float64
 29  Amount  73376 non-null  float64
 30  Class   73376 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 17.4 MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data.dropna(inplace=True)

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

0.0    73198
1.0      178
Name: Class, dtype: int64

In [ ]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(73198, 31)
(178, 31)

In [ ]:
legit.Amount.describe()

count    73198.000000
mean        97.324727
std        270.324183
min          0.000000
25%          7.680000
50%         26.675000
75%         88.947500
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     178.000000
mean       95.191461
std       218.660540
min         0.000000
25%         1.000000
50%         7.595000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,35597.170893,-0.237300,-0.038920,0.702672,0.155577,-0.260766,0.103663,-0.096812,0.047751,0.017704,...,0.044057,-0.030721,-0.106049,-0.038141,0.006549,0.135145,0.023827,0.000959,0.002925,97.324727
1.0,30706.921348,-6.783789,4.890766,-9.107666,5.286608,-5.047343,-2.085865,-7.104280,3.332048,-3.159344,...,0.420153,0.813143,-0.191093,-0.236559,-0.071391,0.249935,0.106447,0.567944,0.044848,95.191461

In [ ]:
legit_sample=legit.sample(n=178)

In [ ]:
print(legit_sample.shape)

(178, 31)

In [ ]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
62360,50239,1.189989,-0.563413,0.129353,-0.302176,-0.927678,-0.784679,-0.443714,-0.095644,-0.648897,...,0.009142,-0.074443,-0.001157,0.327529,0.332585,-0.298509,0.025642,0.049678,80.52,0.0
6818,8603,-0.662249,0.898859,3.006285,2.774361,-0.678435,0.321409,0.122167,0.166521,0.694456,...,-0.096314,-0.051105,0.047246,0.619830,-0.242275,-0.023127,0.087397,0.125934,65.15,0.0
12247,21398,-0.712661,0.322192,2.775495,-1.760907,-0.555376,-0.479376,0.250480,-0.042155,2.472823,...,-0.107028,0.145017,-0.343053,0.455037,0.365851,-0.868326,-0.094905,-0.162882,11.85,0.0
17151,28484,1.289297,-1.224617,-0.515138,-1.622526,0.848669,3.784801,-1.642153,0.987939,-0.243631,...,0.293608,0.629049,-0.195875,1.060433,0.594550,-0.038139,0.040517,0.030064,74.00,0.0
62354,50238,-5.094859,-4.990163,1.068136,3.002072,2.680115,-2.264689,-2.224474,0.986986,-0.159341,...,0.637883,-0.281668,0.035848,0.284552,0.454639,-0.170417,0.040518,-0.796292,192.14,0.0

In [ ]:
new_dataset.tail(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
64460,51155,-11.205461,7.914633,-13.987752,4.333341,-8.484970,-3.506561,-8.935243,7.704449,-2.336584,...,0.942593,-0.987848,-0.279446,-0.027299,0.644344,-0.263078,1.084023,0.211933,99.99,1.0
68067,52814,-1.101847,-1.632441,0.901067,0.847753,-1.249091,0.654937,1.448868,0.023308,-0.136742,...,0.610654,0.835795,1.179955,-0.029091,-0.300896,0.699175,-0.336072,-0.177587,519.90,1.0
68320,52934,1.036639,0.407227,0.757706,3.161821,-0.568122,0.202181,-0.689804,0.411380,0.336769,...,-0.050108,0.123761,-0.132568,0.350231,0.507701,0.189621,0.061016,0.063141,0.76,1.0
68522,53031,0.206075,1.387360,-1.045287,4.228686,-1.647549,-0.180897,-2.943678,0.859156,-1.181743,...,0.469199,0.344930,-0.203799,0.376640,0.715485,0.226003,0.628545,0.319918,0.76,1.0
68633,53076,1.296231,0.417447,0.193963,0.901644,0.130531,-0.371634,0.158126,-0.202669,-0.079512,...,-0.112114,-0.220002,-0.121022,-0.440454,0.671540,-0.413518,0.032838,0.020600,1.18,1.0
69498,53451,0.385108,1.217620,-1.953872,2.087076,-1.144225,-0.576888,-2.582865,0.643230,-1.191233,...,0.594623,0.372144,-0.310456,-0.624065,0.840216,-0.159452,0.599482,0.288916,8.00,1.0
69980,53658,-1.739341,1.344521,-0.534379,3.195291,-0.416196,-1.261961,-2.340991,0.713004,-1.416265,...,0.383180,-0.213952,-0.336640,0.237076,0.246003,-0.044228,0.510729,0.220952,0.00,1.0
70141,53727,-1.649279,1.263974,-1.050826,2.237991,-2.527889,-0.889940,-2.355254,0.854659,-1.281243,...,0.679176,0.731907,0.333045,0.392505,-0.274197,0.802349,0.390809,0.112146,112.45,1.0
70589,53937,-2.042608,1.573578,-2.372652,-0.572676,-2.097353,-0.174142,-3.039520,-1.634233,-0.594809,...,-0.723326,0.501222,-0.696892,-0.600514,0.127547,-0.786072,0.606097,0.171697,261.87,1.0
72757,54846,-2.986466,-0.000891,0.605887,0.338338,0.685448,-1.581954,0.504206,-0.233403,0.636768,...,-0.875146,-0.509849,1.313918,0.355065,0.448552,0.193490,1.214588,-0.013923,1.79,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    178
1.0    178
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,35599.522472,-0.393598,-0.077924,0.781827,-0.076898,-0.137139,0.075584,-0.183287,0.105841,-0.084564,...,0.068810,0.059836,-0.133478,-0.036549,-0.043342,0.079129,0.060202,0.015158,0.006618,90.323483
1.0,30706.921348,-6.783789,4.890766,-9.107666,5.286608,-5.047343,-2.085865,-7.104280,3.332048,-3.159344,...,0.420153,0.813143,-0.191093,-0.236559,-0.071391,0.249935,0.106447,0.567944,0.044848,95.191461

In [ ]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [ ]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
62360  50239  1.189989 -0.563413  0.129353 -0.302176 -0.927678 -0.784679
6818    8603 -0.662249  0.898859  3.006285  2.774361 -0.678435  0.321409
12247  21398 -0.712661  0.322192  2.775495 -1.760907 -0.555376 -0.479376
17151  28484  1.289297 -1.224617 -0.515138 -1.622526  0.848669  3.784801
62354  50238 -5.094859 -4.990163  1.068136  3.002072  2.680115 -2.264689
...      ...       ...       ...       ...       ...       ...       ...
69498  53451  0.385108  1.217620 -1.953872  2.087076 -1.144225 -0.576888
69980  53658 -1.739341  1.344521 -0.534379  3.195291 -0.416196 -1.261961
70141  53727 -1.649279  1.263974 -1.050826  2.237991 -2.527889 -0.889940
70589  53937 -2.042608  1.573578 -2.372652 -0.572676 -2.097353 -0.174142
72757  54846 -2.986466 -0.000891  0.605887  0.338338  0.685448 -1.581954

             V7        V8        V9  ...       V20       V21       V22  \
62360 -0.443714 -0.095644 -0.648897  ...  0.180489  0.009142 -0.074443
6818   0.122167  0.166521  0.694456  ...  0.055500 -0.096314 -0.051105
12247  0.250480 -0.042155  2.472823  ... -0.139772 -0.107028  0.145017
17151 -1.642153  0.987939 -0.243631  ...  0.331303  0.293608  0.629049
62354 -2.224474  0.986986 -0.159341  ...  1.955034  0.637883 -0.281668
...         ...       ...       ...  ...       ...       ...       ...
69498 -2.582865  0.643230 -1.191233  ...  0.380545  0.594623  0.372144
69980 -2.340991  0.713004 -1.416265  ...  0.002749  0.383180 -0.213952
70141 -2.355254  0.854659 -1.281243  ...  0.087406  0.679176  0.731907
70589 -3.039520 -1.634233 -0.594809  ...  0.825566 -0.723326  0.501222
72757  0.504206 -0.233403  0.636768  ... -0.764274 -0.875146 -0.509849

            V23       V24       V25       V26       V27       V28  Amount
62360 -0.001157  0.327529  0.332585 -0.298509  0.025642  0.049678   80.52
6818   0.047246  0.619830 -0.242275 -0.023127  0.087397  0.125934   65.15
12247 -0.343053  0.455037  0.365851 -0.868326 -0.094905 -0.162882   11.85
17151 -0.195875  1.060433  0.594550 -0.038139  0.040517  0.030064   74.00
62354  0.035848  0.284552  0.454639 -0.170417  0.040518 -0.796292  192.14
...         ...       ...       ...       ...       ...       ...     ...
69498 -0.310456 -0.624065  0.840216 -0.159452  0.599482  0.288916    8.00
69980 -0.336640  0.237076  0.246003 -0.044228  0.510729  0.220952    0.00
70141  0.333045  0.392505 -0.274197  0.802349  0.390809  0.112146  112.45
70589 -0.696892 -0.600514  0.127547 -0.786072  0.606097  0.171697  261.87
72757  1.313918  0.355065  0.448552  0.193490  1.214588 -0.013923    1.79

[356 rows x 30 columns]

In [ ]:
print(Y)

62360    0.0
6818     0.0
12247    0.0
17151    0.0
62354    0.0
        ...
69498    1.0
69980    1.0
70141    1.0
70589    1.0
72757    1.0
Name: Class, Length: 356, dtype: float64

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(356, 30) (284, 30) (72, 30)

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
X_train_prediction=model.predict(X_train)
trainig_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print("train_dta accuracy:",trainig_data_accuracy)

train_dta accuracy: 0.9507042253521126

In [ ]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print("test_dta accuracy:",test_data_accuracy)

test_dta accuracy: 0.9166666666666666